<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <button class="btn btn-default" ng-click="startDrone()">Start</button>
    <button class="btn btn-default" ng-click="pauseDrone()">Pause</button>
    <button class="btn btn-default" ng-click="stopDrone()">Go Back</button>
  </div>
</header>

<div class="row" id="map-canvas" plan-coordinates="::planCoordinates" offset="offset" google-map>
</div>
  
<footer class="footer">
  <div class="container">
      <p>Drone Tracker |
        <a href="https://twitter.com/AysegulYonet" target="_blank">@AysegulYonet</a> |
         <a href="https://github.com/Yonet/droneTracker" target="_blank">Github</a></p>
  </div>
</footer>
